@media(max-width:1520px) {

  .main_content,
  header,
  footer {
    overflow-x: hidden;
    overflow: hidden;
  }

  /* ------------------- H E A D E R ---------------- */

  #header_inner_container {
    max-width: 940px;
    width: 940px;
    min-width: 641px;
  }

  .navContainer {
    margin-left: 25.9px;
  }

  nav a {
    margin: 0 24.3px;
  }

  /* ------------------- M A I N ---------------- */
  #topic1 {
    height: 584px;
    width: 100%;
    background-size: cover;
    /* background-position-x: -100px; */
  }

  #orangeCircle {
    height: 367px;
    width: 367px;
    margin-top: 57px;
    position: static;

  }

  #watchYourFavAnimal {
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
    left: 67px;
    top: 112px;
  }

  #watchOnline {
    position: absolute;
    left: 111px;
    top: 471px;
  }

  .elementsOfMain {
    display: block;
    position: relative;
    width: 50%;
    margin-left: 410px;
    margin-top: 12px;
  }

  /* ------------------- T 1 ---------------- */
  #pic1 {
    opacity: 0;
  }

  #subtopic2_1 {
    margin-top: 100px;
    margin-bottom: 140px;
  }

  #subtopic2_1 img {
    object-fit: cover;
    width: 455px;
    height: 408px;
    margin-left: 17px;
    margin-top: 10px;
  }

  .text {
    margin-left: 3.1%;
  }

  #text2 {
    margin-bottom: 35px;
  }

  #text3,
  #text1 {
    width: 448px;
  }

  .collage_img {
    width: 295px;
    height: 295px;
  }

  .imgCollage {
    width: 100%;
  }

  #subtopic2_2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
  }

  #album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #buttonArrowRigth {
    position: absolute;
    right: 35.3%;
    bottom: 36.8%;
  }

  #buttonArrowLeft {
    position: absolute;
    left: 35.3%;
    bottom: 36.8%;
  }

  .collage {
    margin: 0 14px 95px;
    background-color: white;
  }

  .collage_img:hover:after {
    transition: 0.2s;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    top: 0;
    left: 0px;
    height: 350px;
    position: absolute;
    content: '';
    font-size: 50px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(2px);
  }

  #topic2 {
    max-height: 1745px;
  }

  #anglePictures {
    height: 100%;
  }

  #pic3 {
    height: 180px;
  }

  #pic2 {
    content: url(../../assets/icons/palm_foto_small.png);
    /* background-repeat: no-repeat; */
  }

  .choose_your_favorite {
    position: relative;
    margin: auto;
    margin-bottom: 140px;
  }

  #topic3 {
    padding-top: 29px;
    padding-bottom: 49px;
  }

  #whiteFrame {
    max-width: 940px;
    height: 796px;
  }

  .orangeText {
    text-align: center;
    margin: 30px auto 20px;
  }

  .textInScheme {
    margin-left: 49px;
    margin-bottom: 10px;
  }

  #t3t1 {
    margin-bottom: 21px;
  }

  #t3t2,
  #t3t3 {
    width: 80%;
  }

  #t3t3 {
    margin-bottom: 30px;
  }

  #partOfScheme {
    margin: 0 80px;
  }

  #topic3 button {
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 71px;
  }

  #topic4 {
    width: 100%;
    overflow-y: visible;
  }

  #topic4 h3 {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .testi_container {
    padding: 0 30px;
  }

  #hidden_user {
    display: none;
  }

  .testi_border {
    width: 295px;
  }

  #user4 {
    order: 2;
  }

  #user3 {
    order: 3;
  }

  #greyScrol {
    width: 385px;
    margin-bottom: 50px;
  }

  #topic4 .notCircleAngleButton {
    margin-bottom: 142px;
    margin-left: 30px;
  }

  #pic4 {
    bottom: -90px;
    width: 200px;
  }

  #footerThreeColumn {
    padding: 0 30px;
    width: 100%;
  }

  #secondColumn {
    margin-bottom: 54px;
    margin-left: -32px;
    margin-right: -135px;
  }

  #lastColumn {
    margin-left: -61px;
  }

  #search {
    margin-right: 33px;
  }
  /* ---------------D O N A T E--------------- */
}


@media(max-width:1060px) {
  #topic1 {
    background-size: cover;
    background-position-x: -100px;
  }
}
/* ------------------------ f o r   6 4 0   p x ------------------- */
@media(max-width:980px) {
  header{
    position:fixed;
  }
  nav, #designed{
    display: none;
  }
  #header_inner_container, header {
    height: 34px;
  }

  header .logo_container {
    border:none;
    margin-left:3px;
  }
  header .logo{
    font-weight: 400;
    font-size: 12.2899px;
    line-height: 120%;
  }
  header .logo_container img {
    left: 21px;
    top: 13px;
    height: 13px;
  }
  .burger{
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }
  .burger_element{
    position: relative;
    height: 2px;
    width: 18px;
    border-radius: 2px;
    background-color: white;
  }
  .burger_element::after, .burger_element::before{
    position: absolute;
    height: 2px;
    width: 18px;
    border-radius: 2px;
    background-color: white;
    content:'';
  }
  .burger_element::after{
    top: 4px;
  }
  .burger_element::before{
    bottom: 4px;
  }
  #topic1 {
    height: 374px;
    background-position-x: 0;
  }
  #orangeCircle {
    position: relative;
    height: 237px;
    width: 237px;
    margin-top: 12px;
    margin-left: 2px;
  }
  .elementsOfMain {
    margin-left: 0;
    margin-top: 32px;
    width: 100%;
  }
  #watchYourFavAnimal {
    left: 43px;
    top: 39px;
    font-size: 54px;
  }
  #watchOnline {
    /* position:static; */
    /* position: absolute;
    left: 10%;
    top: 247px; */
    position: relative;
    left: -23.4%;
    top: -46px;
  }
  #pic1 {
    opacity: 1;
    /* scale: 0.8; */
    height: 476px;  
    right: -30px;
    top: 0;
  }
  .hide_picture{
    display: none;
  }
  #topic2{
    width: 100%;
    max-height: 1477px;
  }

  #subtopic2_1 {

    margin-top: 58px;
    /* max-width: 70%; */
    display: flex;
    margin-left: 23px;
    margin-bottom: 78px;
  }
  .text {
    margin-left: 0;
  }
  .text h2{
    max-width: 87%;
  }
  #text1 {
    margin-bottom: 34px;
  }
  #text2 {
    margin-bottom: 18px;
  }
  #text3, #text1 {
    width: 485px;
  }
  #album {
    grid-template-columns: repeat(2, 1fr);
  }
  .hidden_user{
    display: none;
  }
  #buttonArrowRigth {
    position: absolute;
    right: 37.8%;
    bottom: 38.3%;
  }

  #buttonArrowLeft {
    position: absolute;
    left: 37.8%;
    bottom: 38.3%;
  }
  .collage_img {
    width: 285px;
    height: 285px;
  }
  .inCollage p {
    font-size: 11.5px;
  }
  .animals {
    font-size: 12px !important;
    line-height: 140%;
  }
  .iconInCollage img{
    scale: 0.9;
  }
  .inCollage {
    margin: 4px 12px 3px 15px;
  }
  .collage_img:hover:after {
    height: 329px;
  }
  .collage {
    margin-bottom: 92px;
  }
  .choose_your_favorite {
    margin-bottom: 101px;
  }
  #pic2 {
    left: -60px;
  }
  #pic3 {
    height: 131px;
    right: 0;
  }
  #whiteFrame {
    max-width: 100%;
    width: 900px;
    height: 742px;
  }
  #topic3 {
    padding-top: 19px;
    padding-bottom: 21px;
  }
  .orangeText {
    font-size: 42px;
    margin-top: 10px;
  }
  .textInScheme {
    margin: 0 20px;
    width: auto;
  }
  #t3t2, #t3t3 {
    width: auto;
  }
  #t3t1 {
    font-size: 22px;
  }
  .schemeArrow img{
    position: absolute;
    content: url(../../assets/icons/green_arrow.svg);
    top:-15px;
    left: -40px
  }
  .scheme_column {
    display: flex;
    flex-direction: column;
    width: 168px;
  }
  .schemeArrow {
    height: 168px;
    /* padding: 0 18px; */
    margin-top: 0;
    position: relative;
  }
  #topic3 h3 {
    margin-bottom: 19px;
  }
  #scheme{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .schemePicture {
    width: 100%;
  }
  #partOfScheme {
    justify-content: center;
    padding: 0 30px 0 20px;
    width: 100%;
    gap: 6px;
  }
  #topic3 button {
    margin-top: 40px;
  }
  #topic4 h3 {
    margin-top: 61px;
  }
  .testi_container {
    flex-direction: column;
    align-items: center;
  }
  .testi_border {
    width: 600px;
    height: 110px;
    margin-bottom: 15px;
  }
  .commentator {
    padding: 11px 10px;
    padding-bottom: 8px;
  }
  .comment {
    height: 35px;
  }
  #lineScrol{
    display: none;
  }
  .testi_button{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  #topic4 .notCircleAngleButton {
    margin-left: 0;
    margin-bottom: 0;
    width: 240px;
    margin-top:20px;
  }
  #pic4 {
    bottom: -70px;
    width: 122px;
    right: -8px;
  }
  #Subscribe, #search, .iconsAndText span{
    display: none;
  }
  #footerThreeColumn{
    grid-template-columns: 1fr 220px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a a"
    "b c";
    padding: 0 20px;
  }
  #firstColumn{
    grid-area: a;
    display: flex;
    flex-direction: row;
  }
  #secondColumn{
    grid-area: b;
    margin:0;
    padding: 0;
    margin-bottom: 12px;
    justify-content: space-between;
    width: 300px;
  }
  footer nav a{
    margin:0;
  }
  #lastColumn{
    grid-area: c;
    margin-top: 20px;
  }
  .logo_and_button{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  footer .logo_container {
    margin: 15px 0 37px;
  }
  footer{
    height: 282px;
  }
  #socialLinks{
    margin-top: 14px;
  }
  #socialLinks img {
    margin-bottom: 10px;
  }
}

/* ------------------ 3 2 0 ----------------------- */

@media(max-width:625px) {
  #header_inner_container {
    /* max-width: 940px; */
    width: 100%;
    min-width: auto;
    /* margin: 0 -10px; */
  }
  .burger{
    margin-right: 10px;
  }
  #header_inner_container a{
    width: 100%;
  }
  header .logo_container {
    width: auto;
    margin-left: 10px;
  }
  header .logo_container img {
    left: 4px;
    width: auto;
  }
  #topic1 {
    height: 221px;
  }
  #orangeCircle {
    height: 120px;
    width: 120px;
    margin-top: 25px;
    margin-left: -5px;
  }
  #watchYourFavAnimal {
    left: 19px;
    top: 18px;
    font-size: 28px;
  }

  #pic1 {
    height: 217px;
    right: -44px;
    top: 40px;
  }
  #subtopic2_1 a{
    display: flex;
    justify-content: center;
  }
  #topic1 #watchOnline {
    display: none;
  }
  #subtopic2_1{
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    margin-left: 0;
    margin-bottom: 38px;
  }
  #topic2 .orangeButton {
    margin-top: 0;
    position:static;
    margin-bottom: 32px;
  }
  #subtopic2_1 h2{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .text {
    margin-left: 10px;
  }
  .text h2{
    max-width: 87%;
  }
  #text1 {
    margin-bottom: 20px;
  }
  #text2 {
    margin-bottom: 9px;
  }
  #text3, #text1 {
    width: 95%;
  }
  #album {
    grid-template-columns: 1fr;
  }
  .topic2_ellipce_buttoms {
    display: none;
  }
  .collage {
    /* margin-bottom: 20px; */
    margin: 0 16px 20px;
  }
  #topic2{
    height: 2054px;
    max-height: 2054px;
  }
  .choose_your_favorite {
    margin-bottom: 28px;
  }
  #subtopic2_2 {
    grid-template-columns: auto;
  }
  #pic2 {
    content: url(../../assets/icons/palm_foto_small.png);
    height: 72px;
    left: -11px;
  }
  #pic3 {
    height: 71px;
    right: -16px;
    bottom: -3px;
  }
  .orangeText {
    font-size: 24px;
    margin: 21px auto 10px;
  }
  #t3t1 {
    font-size: 18px;
    text-align: center;
  }
  #t3t2, #t3t3 {
    display: none;
  }
  #topic3 h3 {
    margin-bottom: 19px;
    font-size: 24px;
  }
  #partOfScheme {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    gap: 7px;
  }
  .schemeArrow img {
    transform: rotate(85deg);
    top: -15px;
    left: 71px;
  }
  .schemePicture {
    margin-bottom: 9px;
  }
  .schemeArrow {
    height: 23px;
  }
  #whiteFrame{
    max-height: 1042px;
    height: 100%;
    width: 94%;
  }
  #topic3 button {
    margin-top: 37px;
    margin-bottom: 39px;
  }
  #topic4 h3 {
    margin-top: 29px;
    font-size: 24px;
    margin-bottom: 18px;
  }
  .testi_border {
    width: 100%;
  }
  .testi_container {
    padding: 0 10px;
  }
  .commentator {
    margin-left: 0px;
    padding-top:7px;
  }
  .avatar {
    padding-right: 7px;
  }
  #topic4 .notCircleAngleButton {
    margin-top: 12px;
  }
  #pic4 {
    bottom: -36px;
    width: 61px;
    right: -8px;
    transform: rotate(-15deg);
  }
  .testi_button {
    margin-bottom: 61px;
  }
  footer .logo_container {
    border: none;
    margin: 20px auto 86px;
    margin-bottom: 86px;
  }
  footer br{
    display: none;
  }
  .logo_container {
    width: 100%;
  }
  #footerThreeColumn{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
    width: 320px;
    align-items: center;
    padding: 0;
  }
  #firstColumn {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #socialLinks {
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 58px;
    justify-content: space-between;
    width: 65%;
  }
  footer a[href="desktop_donate.html"]{
    margin: 0 auto;
  }
  footer a[href="index.html"]{
     margin-top: 0px;
  }
  footer .logo_container img {
    left: 157px;
    top: -3px;
    height: 21px;
  }
  footer {
    height: 334px;
  }
  #secondColumn {
    order:3;
    width: 279px;
  }
  #footer_designed_by {
    font-size: 15px;
    margin-bottom: 30px;
  }
  #firstColumn button {
    margin-bottom: 29px;
  }
  #lastColumn {
    margin-top: 0;
    margin-left:auto;
    margin-right: 10px;
  }
  #designed_by {
    padding-bottom: 12px;
  }
  .textInScheme {
    margin: 0 auto;
  }
}
/* --------------------------------------------------------------------------------------  */
@media(max-width:1500px) {
  #donate_topic1{
    height: 470px;
  }
  #donate_topic2{
    height: 100%;
  }
  #donate_topic2 .center{
    width: 94%;
  }
  #donate_topic2 h3 {
    text-align: start;
  }
  #dtopic3{
    margin: 0 30px;
    width: 100%;
  }
  #dtop3_t1 {
    margin-bottom: 30px;
    width: 80%;
  }
  #dtop3_t3 {
    margin-bottom: 40px;
  }
  #donate_scheme .orangeText {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #t3p_margin_l{
    width: 100%;
  }
  #donate_scheme{
    width: 100%;
  }
  #dt3t1{
    text-align: center;
  }
  #slider {
    margin: 0 65px 97px;
    justify-content: center;
    width: auto;
  }
  #lineSlider #hidden_1000px{
    display: none;
    /* opacity: 0; */
  }
  #lineSlider {
    width: 96%;
  }
  #amount {
    margin-left: 64px;
  }
  #dollar {
    top: 20.5%;
    left: 93.1%;
  }
  #donate_topic2 #whiteFrame {
    height: 918px;
    margin-bottom: 30px;
  }
  .secondColumnDonate{
    margin-left: -18px !important;
  }

}

  @media(max-width:980px) {
    .secondColumnDonate{
      margin-left: 0 !important ;
  }
  #donate_topic1{
    min-height: 370px;
    /* width: 100%; */
    height: 100%;
    background-size: 155%;
  }
  #dtop3_t1 {
    font-size: 24px;
    width: 100%;
    margin-bottom: 16px;
  }
  .center {
    margin-top: 28px;
  }
  #dtop3_t3{
    font-size: 36px;
  }
  #dtop3_t2 {
    margin-bottom: 28px;
  }
  #dtop3_t3 {
    margin-bottom: 29px;
  }
  #donate_scheme .orangeText {
    margin-top: 31px;
    margin-right: 0px;
    margin-bottom: 19px;
    font-size: 48px;
  }
  #four {
    margin-right: 55px;
    margin-bottom: 15px;
  }
  #donate_partOfScheme {
    margin: 0 auto 23px;
  }
  #slider {
    margin: 0 0 97px;
  }
  #lineSlider #hidden_640px{
    display: none;
  }
  #lineSlider {
    width: 87%;
  }
  #amount {
    margin-left: 12px;
    margin-bottom: 7px;
  }
  #donate_partOfScheme {
    margin-bottom: 34px;
  }
  /* .cross {
    left: 198px;
    top: 345px;
  } */
  #another {
    height: 42px;
    width: 178px;
    margin-bottom: 33px;
    font-size: 16px;
  }
  #dollar {
    left: 90.1%;
    top: 13.5%;
  }
  #donate_topic2 #whiteFrame {
    margin-bottom: 48px;
  }
}

  @media(max-width:600px) {
    #donate_topic1 {
      min-height: 222px;
      width: 100%;
      height: 100%;
      background-size: 160%;
    }
    #dtop3_t1{
      line-height: 124%;
    }
    #dtop3_t3 {
      font-size: 24px;
    }
    #donate_scheme .orangeText {
      margin-top: 19px;
      margin-right: 0px;
      margin-bottom: 12px;
      font-size: 24px;
    }
    #donate_topic2 #whiteFrame {
      width: 100%;
      height: 918px;
      margin-bottom: 30px;
    }
    #dt3t1 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    #donate_partOfScheme {
      width: 100%;
    }
    #four {
      font-size: 40px;
      margin-right: 12px;
      margin-bottom: 0;
      margin-top: -36px;
    }
    .scheme_panda img{
      width: 82%;
      margin-left: 30px;
      max-width: 181px;
    }
    .textUnderFour{
      font-size: 9px;
    }
    .cross {
      left: 35%;
      top: 68px;
    }
    .cross img{
      width: 50%;
    }
    #donate_partOfScheme {
      margin-bottom: 0;
    }
    #amount {
      margin-left: 0px;
      margin-bottom: 9px;
      margin-top: -54px;
    }
    #slider {
      min-height: 13.5px;
      height: 13.5px;
    }
    #lineSlider span{
      font-size: 13px;
    }
    input[name="rb"]::before {
    content: '';
    width: 5px;
    height: 5px;
  }
  
  input[name="rb"]:checked::after{
    content: '';

    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #FE9013;
    outline: 1px solid #FE9013;
    outline-offset: 4px;
  }
  #lineSlider span {
    margin-top: 12px;
  }
  #slider {
    margin-bottom: 48px;
  }
  #dollar {
    top: 16%;
    left: 90.1%;
  }
  #another {
    margin-bottom: 24px;
  }
  #donate_topic2 #whiteFrame {
    height: 590px;
    margin-bottom: 21px;
  }
}